.bodyColor {
  --bs-accordion-btn-bg: #7036ba;
  --bs-accordion-bg: #7036ba;
  --bs-accordion-active-bg: #7036ba;
  --bs-accordion-active-color: none;
  --bs-accordion-color: white;
  --bs-accordion-border-color: none;
  --bs-accordion-btn-color: white;
  --bs-accordion-icon-active-color: white;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-focus-border-color: white;
}
.accordionButton button:not(.collapsed)::after,
.accordionButton button.collapsed::after{
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill='%23fff'%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
}