

.wrapper {
    min-height: 800px;
    position: relative;
    background-color: var(--basic, #7036BA);
}

.background {
    width: 50%;
    height: 100%;
    background-image: url(../../image/image-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    right: 0;
    top: 0
}

.button {
    background-color: #00BFB4;
    color: white;
    width: auto;
    min-width: 261px;
    height: 65px;
    border: none;
    font-size: 25px;
}


.content {
    padding: 220px 0;
}

@media screen and (max-width: 767.98px) {
    .wrapper {
        min-height: 1px;
    }

    .content {
        padding: 120px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .background {
        position: static;
        height: 325px;
        width: 100%;
        margin-top: -29.5px;
    }
}